# ===================================================================
# tpRigToolkit-tools-rigtoolbox requirements file
# ===================================================================

tpRigToolkit-core